@import "tailwindcss";

/* Global Swiss Reset */
body {
  @apply antialiased text-gray-900 bg-white;
}

/* Swiss Input Style */
.swiss-input {
  @apply w-full border-b border-gray-300 py-3 px-1 text-sm focus:outline-none focus:border-black transition-colors bg-transparent placeholder-gray-400 rounded-none;
}

/* Swiss Button Style */
.swiss-btn {
  @apply w-full bg-black text-white text-sm font-medium py-4 px-6 uppercase tracking-widest hover:bg-gray-800 transition-colors rounded-none disabled:bg-gray-400;
}
